.section-contact {
  background-color: #1c262f;
  padding: 4rem;
}
.contact--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact-img {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1.6rem;
  width: 100%;
}
.input-contact {
  padding: 1.7rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 1.4rem;

  &:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.4rem rgba(13, 110, 253, 0.25);
  }
}
.mrb {
  margin-bottom: 1.6rem;
}
.msg-input {
  outline: none;
  border: none;
  margin-bottom: 1.6rem;
  border-radius: 4px;
  padding: 5rem 1.5rem;
  font-size: 1.4rem;
  width: 100%;

  &:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.4rem rgba(13, 110, 253, 0.25);
  }
}
// **************************LOCATION********************************
.location {
  background-color: #212d37;
  color: #fff;
}
.location--icon {
  width: 6rem;
  height: 6em;
}
.location-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
}
.location--header {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.location--container {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
  }
}
