.footer {
  background-color: #1c262f;
  color: #fff;
  padding: 9rem 1rem;
}
.footer__heading {
  font-size: 2.5rem;
}
.footer__text {
  font-size: 1.6rem;
  //   margin-top: 1.5rem;
}
.opacity {
  opacity: 0.7;
}
.footer__icon {
  width: 3rem;
  height: 3rem;
}
// .footer__icon:hover path {
//   fill: red; /* Color on hover */
//   color: red;
// }
.footer__icon2 {
  width: 2rem;
  height: 2rem;
}
.footer__icon3 {
  width: 2rem;
  height: 2rem;
}
.social {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.mrt {
  margin-bottom: 1.5rem;
}
.footer__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 0 2rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-top: 1.5rem;

  &:hover {
    color: var(--color-primary);
  }
}
.footer__input {
  // border-radius: 4px;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
}
.flex-footer {
  display: flex;
  margin-top: 2rem;
}
.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 2px solid #0ee951;
  color: #fff;
  padding: 1rem 3rem;
  // border-radius: 4px;
  margin-left: -0.2rem;

  &:hover {
    background-image: linear-gradient(to bottom, #0ee951, #00dabf);
  }
}
.icon-f {
  width: 3rem;
  height: 3rem;
  z-index: 11;
}
.footer-text {
  background-color: #000;
}
.footer-text p {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 3.7rem 0;
}
