:root {
  --color-primary: #0ee951;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 18.75em) {
  html {
    font-size: 45%;
  }
}

body {
  color: #212529;
  overflow-x: hidden;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading__primary {
  font-size: 3.2rem;
  font-weight: 500;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: #1c262f;
  z-index: 111;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2rem 0 rgba(28, 38, 47, 0.8);
}

.header {
  height: 100vh;
  background-image: url(../assets/images/home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  z-index: 999;
}

.header__box {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.nav__link:link,
.nav__link:visited {
  color: var(--color-white);
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary);
}

.headline {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-size: 6rem;
  color: var(--color-white);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 34.38em) {
  .headline {
    font-size: 4rem;
  }
}
.headline span {
  background-image: linear-gradient(to bottom, #0ee951, #00dabf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width {
  width: 50%;
}
@media only screen and (max-width: 34.38em) {
  .width {
    width: 100%;
  }
}

.heading {
  padding: 0 2rem;
  margin: 4.8rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 18.8rem);
}
.heading__text {
  padding: 1.6rem 0;
  font-size: 1.6rem;
  color: #f9f8fa;
  line-height: 1.6;
  opacity: 0.7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 34.38em) {
  .heading__text {
    font-size: 1.5rem;
  }
}

.icon-p {
  height: 2.5rem;
  width: 2.5rem;
}

.heading__text-2 {
  color: var(--color-white);
  font-size: 1.6rem;
  color: #fff;
  margin: 1.6rem 0;
}

.btn {
  display: inline-block;
  border: none;
  font-size: 1.6rem;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #0ee951;
  padding: 1rem 3rem;
  box-shadow: 4px 4px 0 0 #0ee951;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
}

.icon {
  width: 8rem;
  height: 8rem;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 58.13em) {
  .boxs {
    grid-template-columns: 1fr;
  }
}
.boxs-1 {
  background-color: #1c262f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.boxs__heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  margin: 3rem 0;
}
.boxs__text {
  font-size: 1.6rem;
  color: #f8f9fa;
  opacity: 0.7;
}
.boxs__text-2 {
  color: #212529;
}

.bg-color {
  background-color: #212d37;
  box-shadow: none;
}

.bg-white {
  background-color: #fff;
}

.color {
  color: #000;
}

.section-about {
  background-color: #212d37;
}

.content__about {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 1.5rem;
  padding: 9.6rem 1rem;
}
@media only screen and (max-width: 58.13em) {
  .content__about {
    grid-template-columns: 1fr;
    padding: 9.6rem 3rem;
  }
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img {
  width: 100%;
}
@media only screen and (max-width: 58.13em) {
  .about__img {
    width: 90%;
    padding-top: 2.5rem;
  }
}

.about-sub {
  color: #fff;
  font-size: 1.6rem;
}

.about-heading {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 34.38em) {
  .about-heading {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .about-heading {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}

.margin {
  margin-bottom: 2rem;
}

.service_section {
  background-color: #1c262f;
  padding-bottom: 5rem;
}

.center {
  text-align: center;
}

.service__box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 2.5rem;
  transition: all 0.2s ease-in-out;
}
.service__box:hover {
  box-shadow: 4px 4px 0 0 #0ee951;
  border: 2px solid #0ee951;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 58.13em) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 34.38em) {
  .services {
    grid-template-columns: 1fr;
  }
}

.service__icon {
  width: 4rem;
  height: 4rem;
}

.padding-top {
  padding-top: 4rem;
}

.icon-bg {
  background-image: linear-gradient(to bottom, #0ee951, #00dabf);
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  object-fit: cover;
  cursor: pointer;
}

.icon-nav {
  width: 1rem;
  height: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section-plan {
  background-color: #212d37;
  padding-bottom: 3rem;
}

.flex-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 58.13em) {
  .plan {
    grid-template-columns: repeat(1, 1fr);
  }
}

.plan__heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
}

.plan-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.plan-box {
  padding: 2rem;
  border: 2px solid #fff;
}

.plan-text {
  font-size: 1.6rem;
  color: #fff;
}

.price {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 3.2rem 0;
}

.margin--2 {
  margin: 3rem 0;
}

.work {
  background-color: #1c262f;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
  gap: 3rem;
}
@media only screen and (max-width: 58.13em) {
  .work {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
}

.work__img {
  width: 100%;
  padding-left: 2rem;
}
@media only screen and (max-width: 58.13em) {
  .work__img {
    padding: 0;
  }
}

.number {
  color: #fff;
  font-size: 3rem;
}

.work-text {
  color: #fff;
  font-size: 1.6rem;
  margin: 1.3rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
}
@media only screen and (max-width: 18.75em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.work-box {
  width: 80%;
}

.section-testimonial {
  background-color: #1c262f;
  padding: 8rem 0;
  color: #fff;
}
@media only screen and (max-width: 34.38em) {
  .section-testimonial {
    padding: 4rem 0;
  }
}

.author {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 85rem;
  margin: 0 auto;
}
@media only screen and (max-width: 58.13em) {
  .author {
    grid-template-columns: repeat(1, 1fr);
    max-width: 50rem;
    padding: 0 2rem;
  }
}

.author-profile {
  padding: 2rem;
  border: 2px solid #0ee951;
}

.author-text {
  font-size: 1.6rem;
}

.author-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.author-img {
  border-radius: 50%;
  width: 35%;
}
@media only screen and (max-width: 34.38em) {
  .author-img {
    width: 25%;
  }
}

.author-name,
.author-position {
  font-size: 1.6rem;
}

.author-name {
  margin: 0.5rem 0;
  font-weight: 500;
}

.bg--color {
  background-color: #212d37;
}

.news-letter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  padding: 3.5rem;
  margin: 0 auto;
}
@media only screen and (max-width: 58.13em) {
  .news-letter {
    grid-template-columns: repeat(1, 1fr);
  }
}

.input {
  padding: 1.6rem 0rem 1.6rem 1rem;
  font-size: 1.8rem;
  width: 100%;
  outline: none;
  border: none;
}

.btn-1 {
  display: inline-block;
  border: none;
  font-size: 1.6rem;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #0ee951;
  padding: 1.6rem 3rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-1:hover {
  background-image: linear-gradient(to bottom, #0ee951, #00dabf);
}

.input-box {
  display: flex;
}

.section-contact {
  background-color: #1c262f;
  padding: 4rem;
}

.contact--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 58.13em) {
  .contact--box {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-img {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1.6rem;
  width: 100%;
}

.input-contact {
  padding: 1.7rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 1.4rem;
}
.input-contact:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.4rem rgba(13, 110, 253, 0.25);
}

.mrb {
  margin-bottom: 1.6rem;
}

.msg-input {
  outline: none;
  border: none;
  margin-bottom: 1.6rem;
  border-radius: 4px;
  padding: 5rem 1.5rem;
  font-size: 1.4rem;
  width: 100%;
}
.msg-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.4rem rgba(13, 110, 253, 0.25);
}

.location {
  background-color: #212d37;
  color: #fff;
}

.location--icon {
  width: 6rem;
  height: 6em;
}

.location-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
}

.location--header {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.location--container {
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 58.13em) {
  .location--container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
  }
}

.navigation__btn {
  opacity: 0.5;
  border-radius: 7px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.nav--icon[name=close-outline] {
  display: none;
}

.nav--icon {
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
}

@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
  .navigation {
    height: 100vh;
    background-color: #1c262f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    transform: translateX(100%);
    visibility: hidden;
  }
  .active .navigation {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .active .navigation__btn .nav--icon[name=close-outline] {
    display: block;
  }
  .active .navigation__btn .nav--icon[name=menu-outline] {
    display: none;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation__btn {
    display: block;
  }
}
.footer {
  background-color: #1c262f;
  color: #fff;
  padding: 9rem 1rem;
}

.footer__heading {
  font-size: 2.5rem;
}

.footer__text {
  font-size: 1.6rem;
}

.opacity {
  opacity: 0.7;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
}

.footer__icon2 {
  width: 2rem;
  height: 2rem;
}

.footer__icon3 {
  width: 2rem;
  height: 2rem;
}

.social {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.mrt {
  margin-bottom: 1.5rem;
}

.footer__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 58.13em) {
  .footer__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 34.38em) {
  .footer__box {
    grid-template-columns: 1fr;
  }
}

.footer__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-top: 1.5rem;
}
.footer__link:hover {
  color: var(--color-primary);
}

.footer__input {
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
}

.flex-footer {
  display: flex;
  margin-top: 2rem;
}

.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 2px solid #0ee951;
  color: #fff;
  padding: 1rem 3rem;
  margin-left: -0.2rem;
}
.button:hover {
  background-image: linear-gradient(to bottom, #0ee951, #00dabf);
}

.icon-f {
  width: 3rem;
  height: 3rem;
  z-index: 11;
}

.footer-text {
  background-color: #000;
}

.footer-text p {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 3.7rem 0;
}

/*# sourceMappingURL=style.css.map */
